rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permissive for testing
    match /{document=**} {
      allow read, write: if true;
    }

    match /pacientes/{pacienteId} {
      allow read, write: if true;
    }

    match /plantoes/{plantaoId} {
      allow read, write: if true;
    }

    match /profissionais/{profissionalId} {
      allow read, write: if true;
    }
  }
}
