@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  
  --color-forest-green: #1A3626;
  --color-mustard-gold: #C69C6D;
  --color-off-white: #F8F5F0;
  --color-hover-green: #254A34;
}

body {
  @apply bg-off-white text-forest-green;
}

